{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Главная{% endblock %} :: GPS monitoring</title>
    <link rel="stylesheet" type="text/css" href="{% static 'monitoring/style.css' %}">
    {% block head %}
    {% endblock %}    
</head>
<body>
    <header>
        <h1>GPS monitoring</h1>
    </header>
    <nav>
        <a href="{% url 'index' %}">Главная</a>        
        <a href="{% url 'monitoring' %}">Мониторинг</a>
        {% if user.is_authenticated %}
            <a href="/accounts/profile/">Профиль</a>
            <a href="/accounts/logout/">Выйти</a>
        {% else %}
            <a href="/accounts/login/">Войти</a>
            <a href="/accounts/register/">Регистрация</a>
        {% endif %}
    </nav>
    <section>
        {% block content %}
        {% endblock %}
    </section>
</body>
{% block scripts %}
{% endblock %}
</html>